.Box {
    width: 90%;
    
  }
  body {
    font-family: Roboto !important;
  }

  .btn{

    position: center;
    color: blue;
    

  }

  #hireBtn{
      position: center;
      padding-left: 30%;

  }